h1{
    font-size: 66px;
    color: #7A5C61;
    padding: 25px;
    text-align: center;
}

h2{
    font-size: 24px;
    color: #7A5C61;
    font-weight: 600;
}

.carousel-caption h5{
    font-size: 90px;
    color: bisque;
    text-shadow: 5px 5px 5px black;
}


